# Django secret data
SECRET_KEY=Secret_key
DEBUG=True
ALLOWED_HOSTS=*

# Database secret data
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=network_sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# CORS Settings
CORS_ALLOWED_ORIGINS=http://www.example.com
CSRF_TRUSTED_ORIGIN=http://www.example.com

# Superuser data
SUPERUSER_USERNAME=superuser
SUPERUSER_PASSWORD=password

# Fill database from fixtures?
FILL_DATABASE=True
